body{
font-family: Arial;
background:#f2f2f2;
padding:20px;
}

h2{
color:darkblue;
}

form{
background:white;
padding:20px;
width:350px;
border-radius:6px;
box-shadow:0px 0px 10px #ccc;
}

input,select{
width:100%;
padding:6px;
margin-top:5px;
}

button{
background:blue;
color:white;
padding:8px;
border:none;
cursor:pointer;
}

button:hover{
background:darkblue;
}

table{
margin-top:20px;
border-collapse:collapse;
width:70%;
background:white;
}

th,td{
padding:8px;
text-align:center;
}

th{
background:lightgray;
}

.valid{
border:2px solid green;
}

.invalid{
border:2px solid red;
}

#message{
color:green;
font-weight:bold;
}
